body {
	background: url('../imagenes/fondo3.jpg') center center;
}

.toolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	display: flex;
	align-items: center;
	background-color: rgb(220, 220, 220);
	color: black;
	font-weight: 600;
}

.toolbar img {
	margin: 0 16px;
}

.tabulacion:first-letter {
	margin-left: 15px;
}

.spacer {
	display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
	position: fiexd;
	width: 50%;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	background-color: #E8E1E1;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.floatRight {
	float: right;
	margin-right: 18px;
}

.has-error {
	color: red;
}

.success {
	position: fiexd;
	width: 50%;
	margin-left: 50px;
	margin-top: 20px;
	padding: 20px;
	background-color: #E8E1E1;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.card {
	margin-top: 100px;
	background-color: #E8E1E1;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#registrarse {
	margin-left: 200px;
}

.tamlikedislike {
	width: 100px;
}