<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/js/javascript.js}" />
<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#ocultarContMod").on('click', function() {
			$("#contenedorModificar").hide();
			return false;
		});

		$("#mostrarContMod").on('click', function() {
			$("#contenedorModificar").show();
			return false;
		});
	});
</script>
<title>Mi perfil</title>
</head>
<body>

	<div class="toolbar">
		<img src="../imagenes/logo.jpg" width="40" />
		<h3>LucaTinder</h3>

		<div class="spacer">
			<a href="" class="tabulacion">MI PERFIL</a> <a href="/selection"
				class="tabulacion">Ver perfiles</a> <a href="/contactos"
				class="tabulacion">Contactos</a> <a href="/descartes"
				class="tabulacion">Descartes</a> <a href="/match" class="tabulacion">Match</a>
			<a href="/" class="tabulacion">CERRAR SESION</a>
		</div>
	</div>

	<div class="offset-md-2 col-md-8">
		<div class="card">
			<div class="card-header">
				<h2 class="text-center">Mi perfil</h2>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table id="userList"
						class="table table-bordered table-hover table-striped">
						<thead class="thead-light">
							<tr>
								<th scope="col">Nombre</th>
								<th scope="col">Genero</th>
								<th scope="col">Edad</th>
								<th scope="col">Descripción</th>
								<th scope="col">Población</th>
								<th scope="col">Gustos</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="perfil: ${miperfil}">
								<td th:text="${perfil.nombre_perfil}"></td>
								<td th:text="${perfil.genero_perfil}"></td>
								<td th:text="${perfil.edad_perfil}"></td>
								<td th:text="${perfil.descripcion_perfil}"></td>
								<td th:text="${perfil.poblacion_perfil}"></td>
								<td th:text="${perfil.categoria}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="card-footer">
				<br />
				<div class="form-group text-center">
					<input type="submit" value="MODIFICAR LOS DATOS"
						class="btn btn-primary btn-sm" id="mostrarContMod" />
					<!--<input type="submit" value="CAMBIAR COMTRASEÑA" class="btn btn-primary btn-sm" /> -->
					<input type="submit" value="DAR DE BAJA EL USUARIO"
						class="btn btn-primary btn-sm" />
				</div>
			</div>
		</div>
	</div>
	<br />
	<div class="offset-md-4 col-md-4">
		<div id="contenedorModificar" class="card" style="display: none;">
			<div class="card-healer">
				<h3 class="text-center">Añade las modificaciones:</h3>
			</div>
			
			
			
			<div class="card-body">
				<div class="card-body">
					<form method="post" th:object="${perfil}"
						th:action="@{/editarperfil}"> 
						<div class="row">
						<div class="form-group col-md-12">
							<label class="col-md-3 control-label" for="nick_perfil">Nick:</label>
							<div class="col-md-12">
								<input type="text" th:field="*{nick_perfil}"
									class="form-control input-sm" readonly="readonly" />
							</div>
						</div>
					</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="nombre_perfil">Nombre
									(*)</label>
								<div class="col-md-12">
									<input type="text" th:field="*{nombre_perfil}"
										class="form-control input-sm" />
									<div th:if="${#fields.hasErrors('nombre_perfil')}"
										th:errors="*{nombre_perfil}" class="has-error help-inline">Nombre
										Error</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="genero_perfil">Genero
									(*)</label>
								<div class="col-md-12">
									<input type="radio" th:field="*{genero_perfil}" th:value="M"
										checked="checked" />Hombre <input type="radio"
										th:field="*{genero_perfil}" th:value="F" />Mujer
									<div th:if="${#fields.hasErrors('genero_perfil')}"
										th:errors="*{genero_perfil}" class="has-error help-inline">Genero
										Error</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="edad_perfil">Edad
									(*)</label>
								<div class="col-md-12">
									<input type="text" th:field="*{edad_perfil}"
										class="form-control input-sm" />
									<div th:if="${#fields.hasErrors('edad_perfil')}"
										th:errors="*{edad_perfil}" class="has-error help-inline">Edad
										Error</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="descripcion_perfil">Descripcion
									(*)</label>
								<div class="col-md-12">
									<input type="text" th:field="*{descripcion_perfil}"
										class="form-control input-sm" />
									<div th:if="${#fields.hasErrors('descripcion_perfil')}"
										th:errors="*{descripcion_perfil}"
										class="has-error help-inline">Descripcion Error</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
								<label class="col-md-3 control-label" for="poblacion_perfil">Poblacion
									(*)</label>
								<div class="col-md-12">
									<input type="text" th:field="*{poblacion_perfil}"
										class="form-control input-sm" />
									<div th:if="${#fields.hasErrors('poblacion_perfil')}"
										th:errors="*{poblacion_perfil}" class="has-error help-inline">Poblacion
										Error</div>
								</div>
							</div>
						</div>
						<input type="submit" value="Aceptar" class="btn btn-primary btn-sm" />
						<button  
						class="btn btn-primary btn-sm" id="ocultarContMod" >Cancelar</button>
					</form>
					
					
				</div>
			</div>
		</div>
	</div>
	<br/>
</body>
</html>